body{
    background-color: black;
}

/* 机に対する位置調整 */
.human0 {
    position: relative;
    top:10px;
    left:10px;
}
.human1 {
    position: relative;
    top: 10px;
    left:40px;
}
.human2 {
    position: relative;
    top: 45px;
    left:10px;
}
.human3 {
    position: relative;
    top: 45px;
    left:40px;
}
.human4 {
    position: relative;
    top: 10px;
    left:70px;
}
.human5 {
    position: relative;
    top: 45px;
    left:70px;
}

/* 順番待ちの人の位置 */
.humanV0 {
    position: relative;
    top: 0px;
    left:0px;
}
.humanV1 {
    position: relative;
    top: 0px;
    left:30px;
}
.humanV2 {
    position: relative;
    top: 0px;
    left:60px;
}
.humanV3 {
    position: relative;
    top: 0px;
    left:90px;
}
.humanV4 {
    position: relative;
    top: 0px;
    left:120px;
}
.humanV5 {
    position: relative;
    top: 0px;
    left:150px;
}
.humanV6 {
    position: relative;
    top: 0px;
    left:180px;
}
.humanV7 {
    position: relative;
    top: 0px;
    left:210px;
}
.humanV8 {
    position: relative;
    top: 0px;
    left:240px;
}
.humanV9 {
    position: relative;
    top: 0px;
    left:270px;
}
.moreHuman {
    position: relative;
    top: 0px;
    left:300px;
}
.humanP0 {
    position: relative;
    top: 0px;
    left:0px;
}
.humanP1 {
    position: relative;
    top: 0px;
    left:30px;
}
.humanP2 {
    position: relative;
    top: 0px;
    left:60px;
}
.humanP3 {
    position: relative;
    top: 0px;
    left:90px;
}
.humanP4 {
    position: relative;
    top: 0px;
    left:120px;
}

/* 描画用基本図形 */
.circle {
    position:absolute;
    top:0px;
    left:0px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: inherit;
}
.square {
    position:absolute;
    top:15px;
    left:5px;
    width: 10px;
    height: 15px;
    background-color: inherit;
}
.squareHead{
    position:absolute;
    top:0px;
    left:0px;
    width: 20px;
    height: 20px;
    background-color: inherit;
}
.desk1{
    position:absolute;
    top:0px;
    left:0px;
    border: solid white;
    background: transparent; 
    width: 35px;
    height: 45px;
}
.desk4{
    position:absolute;
    top:0px;
    left:0px;
    border: solid white;
    background: transparent; 
    width: 65px;
    height: 80px;
}
.desk6{
    position:absolute;
    top:0px;
    left:0px;
    border: solid white;
    background: transparent; 
    width: 95px;
    height: 80px;
}
.wall{
    position:absolute;
    top:100px;
    left:10px;
    border: solid white;
    background: transparent; 
    width: 750px;
    height: 500px;
}
#register{
    position:absolute;
    top:155px;
    left:95px;
    background: black; 
    border: solid white;
    width: 35px;
    height: 35px;
}
#regi{
    top:5px;
    left:5px;
    position:absolute;
    background: white; 
    width: 25px;
    height: 25px;
}
/* 鍋関連 */
.pot{
    top:0px;
    left:0px;
    position:absolute;
    background: black; 
    border: solid white;
    width: 50px;
    height: 35px;
}
.dish{
    top:6px;
    left:6px;
    position:absolute;
    width: 40px;
    height: 25px;
}
.amount{
    position:absolute;
    top:6px;
    left:13px;
    color: black;
    background-color: transparent;
}
.potNametag{
    position:absolute;
    top:-25px;
    left:45px;
    color: white;
    background-color: transparent;
}
.potComment{
    position:absolute;
    top:35px;
    left:-3px;
    color: white;
    background-color: transparent;
}
/* 行列関連 */
.num{
    position:absolute;
    top:-25px;
    left:5px;
    color: inherit;
    background-color: transparent;
}
.point{
    position:absolute;
    color: inherit;
    background-color: transparent;
}
/* 表示情報 */
#timer{
    position:absolute;
    top:55px;
    left:30px;
    font-size: 32px;
    color: white;
}
.number{
    position:absolute;
    top:0px;
    left:0px;
    color: white;
    background-color: transparent;
}
.group{
    position:absolute;
    top:30px;
    left:0px;
    color: white;
    background-color: transparent;
}
.sales{
    position:absolute;
    top:60px;
    left:0px;
    color: white;
    background-color: transparent;
}

/* 色設定クラス */
.color0{
    background-color: #222222;
    color: #222222;
}
.color1{
    background-color: white;
    color: white;
}
.color2{
    background-color: yellow;
    color: yellow;
}
.color3{
    background-color: cyan;
    color: cyan;
}

/* 各IDの配置 */
#desk1_0{
    position: relative;
    top: 300px;
    left: 200px;
}
#desk1_1{
    position: relative;
    top: 350px;
    left: 200px;
}
#desk4_2{
    position: relative;
    top: 150px;
    left: 300px;
}
#desk4_3{
    position: relative;
    top: 150px;
    left: 410px;
}
#desk4_4{
    position: relative;
    top: 150px;
    left: 520px;
}
#desk4_5{
    position: relative;
    top: 150px;
    left: 630px;
}
#desk6_6{
    position: relative;
    top: 450px;
    left: 300px;
}
#desk6_7{
    position: relative;
    top: 450px;
    left: 450px;
}
#desk6_8{
    position: relative;
    top: 450px;
    left: 600px;
}
#visitor{
    position: relative;
    top: 55px;
    left: 300px;
}
#payer{
    position: relative;
    top: 150px;
    left: 130px;
}
#cookingMenu0{
    position: relative;
    top: 300px;
    left: 30px;
}
#cookedMenu0{
    position: relative;
    top: 300px;
    left: 120px;
}
#cookingMenu1{
    position: relative;
    top: 420px;
    left: 30px;
}
#cookedMenu1{
    position: relative;
    top: 420px;
    left: 120px;
}
#total{
    position: relative;
    top: 510px;
    left: 770px;
}

/* 店員の位置 */
#clerks{
    position: absolute;
    top: 0px;
    left: 0px;
}
#clerk0{
    position: relative;
    top: 0px;
    left: 0px;
}
#clerk1{
    position: relative;
    top: 0px;
    left: 25px;
}
#clerk2{
    position: relative;
    top: 0px;
    left: 50px;
}
.wait{
    position: relative;
    top: 530px;
    left: 130px;
}
.go0{
    position: relative;
    top: 320px;
    left: 250px;
}
.go1{
    position: relative;
    top: 370px;
    left: 250px;
}
.go2{
    position: relative;
    top: 250px;
    left: 305px;
}
.go3{
    position: relative;
    top: 250px;
    left: 415px;
}
.go4{
    position: relative;
    top: 250px;
    left: 525px;
}
.go5{
    position: relative;
    top: 250px;
    left: 635px;
}
.go6{
    position: relative;
    top: 420px;
    left: 325px;
}
.go7{
    position: relative;
    top: 420px;
    left: 475px;
}
.go8{
    position: relative;
    top: 420px;
    left: 625px;
}
.goRegister{
    position: relative;
    top: 120px;
    left: 80px;
}